@charset "UTF-8";

/*Estilos para impressoras*/

* {
    margin: 0.625rem;
    padding: 0.625rem;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    line-height: 1.5rem;

}

menu {
    display: none;  /*não vai ser exibido*/
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}