@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

h1 {
    color: #1783cf;
    font-size: 1.5rem;
    background-color: lightblue;
}

h2 {
    color: rgb(169, 69, 69);
    font-size: 1.2rem;
}

p {
    text-align: justify;
}